* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    border: 1px solid black;
}

.logo-img {
    width: 300px;
    height: 100px;
    background-color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.navbar-links a{
    color: black;
    font-weight: bold;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

.navbar-links a {
    text-decoration: none;
}

.input-search {
    padding: 5px 10px;
    border-radius: 1px;
    font-size: 14px;
}

.navbar-right img {
    width: 10px;
    height: 10px;
    top: 9px;
    left: 14px;
}

.movie-description {
    display: block;
}

.movie-content {
    background-color: aqua;
}

.movie-content p {
    margin: 20px;
    text-align: left;
}

ul li span {
    color: red;
    font-weight: bold;
}

.btn-playnow {
    background-color: red;
    width: 280px;
    height: 80px;
    border-radius: 20px;
}

.btn {
    color: white;
    background-color: red;
    border: none;
    font-size: 40px;
    margin: 10px;
    text-align: center;
    gap: 20px;

}